* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(215, 255, 255);
}

#title {
    padding: 1rem;
    margin: 1rem;
    background: white;

}

h1 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;

}

/*section first container with buttons*/

#functioncontainer {
    height: 50px;
    width: 500px;
    background-color: white;
    margin: 4rem;
    position: relative;
}

#buttontask {
    height: 30px;
    width: 80px;
    background-color: rgb(146, 164, 254);
    margin-left: 3rem;
    margin-top: 0.75rem;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 4px;
    border-radius: 10px;
    position: absolute;
}

#buttontask2 {
    height: 30px;
    width: 100px;
    background-color: rgba(128, 128, 132, 0.125);
    margin-left: 9rem;
    margin-top: 0.75rem;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 4px;
    border: 1px solid grey;
    border-radius: 10px;
    position: absolute;

}

/* section second-main container*/

#maincontainer {
    width: 500px;
    height: 700px;
    background-color: white;
    margin-left: 4rem;
    margin-top: -3.5rem;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3rem;
    padding-top: 3rem;

}

p {
    margin-left: 3.4rem;
    margin-top: 20px;

}

#editorial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgb(73, 73, 222);

}

#checkmark {
    color: rgb(11, 223, 11);
    border: 1px solid green;
    border-radius: 50%;

}

#cross {
    color: rgb(236, 12, 12);
    border: 1px solid rgb(231, 9, 9);
    border-radius: 50%;

}

#goals {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgb(167, 54, 184);
}

#recruting {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgb(45, 176, 84);
}

#mobile {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgb(203, 126, 10);
}

#website {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgb(215, 48, 176);
}

#sales {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgb(9, 196, 22);
}